<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rohitghai.childtracker">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/help"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SpeedActivity" />

        <service
            android:name=".SpeedService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".InformationActivity" />
        <activity
            android:name=".AddressActivity"
            android:label="@string/title_activity_address"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".DataContentProvider"
            android:authorities="com.example.rohitghai.childtracker.datacontentprovider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".FetchData" />
        <activity android:name=".EditProfile" />
        <activity android:name=".HelpActivity"></activity>
    </application>

</manifest>